
/* Header-section styling */
figure {
    margin: 0;
}



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    grid-template-columns: 10% 20% auto 20% 10%;
    grid-template-rows: 50px auto 50px ;
    grid-template-areas:
    "header header header header header"
    ". main main aside ."
    "footer footer footer footer footer"
    ;
}


/* Main section styling */
main{
    grid-area: main;
    
    
   
}

main h1 {
    display: inline-block;
    max-width: 383.777px;
    font-size: 36px;
    margin-left: 30%;
    margin-bottom: 10px    
}




footer{
    grid-area: footer;
    width: 50%;
    margin: 0 auto;
}
#main-sidebar{
    /* height: 100%; */
    /* margin: auto 0; */
    grid-area: aside;
    margin-top: 200px;
  
}
aside{
  
}
section{
  
}

#main-image{
    margin: 0 auto;
    width: 1200px;
    height: 680px;
    /* grid-area: main-image; */
}


header {
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
    grid-area: header;
    
}
nav{
    margin: 0 auto;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 200px;
    height: 30px;
}

.header-div {
    display: flex;
    align-items: center;
}

.header-btn {
    border: none;
    background-color: inherit;
    margin-right: 12px;
}

#header-link {
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-left: 10px;  
}

.action-btn {
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    padding: 11px 12px 8px;
    border-radius: 3px;
    font-family: helvetica,arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    margin-right: 5px;
}

#header-btn-section {
    height: auto;
}

.description-p {

    font-size: 0.9375rem;
    line-height: 1.25rem;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    
}

#main-image-description {
    max-width: 70%;
    margin-top: 10px;
}

.social-buttons {
    display: flex;
}

#author-info {
    flex: 1;
}

#author-info p {
    color: #333;
    font-size: 18px;
    font-weight: bold;
   
}

#author-info p a {
    color: #333;
    text-decoration: none;
}

#author-info time {

}

.social-buttons ul {
    flex: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

li{
    margin-right: 12px;
    list-style-type: none;
}

li i {
    font-size: 25px;
    color: gray;

}

.center {
    margin: 10px 28%;
    
}
.center > p{
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.center > h2{
    font-size: 1.2rem;
    font-weight: 700;
}
figure > iframe{
     width: 100%;
     height: 388px;
 }
figure > img {
    display: block;
margin: 0 auto;
}
#desc-p{
margin: 0 25%;
font-size: 0.75rem;
}
#iframe{
    width: 100%;
    height:800px;
    border: none;
    display: block;
    margin: 0 auto;
}
