
/* Header-section styling */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: grid;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 50px 70% 50px ;
    grid-template-areas:
    "header header header"
    "... main aside"
    "footer footer footer"
    ;
}

main{
    grid-area: main;
    background-color: aqua;
}
footer{
    grid-area: footer;
    background-color: yellow;
}
#main-sidebar{
    /* height: 100%; */
    /* margin: auto 0; */
    grid-area: aside;
    background-color: red;
}
aside{
    background-color: crimson;
}
section{
    background-color: darkgoldenrod;
}

#main-image{
    width: 250px;
    height: auto;
    /* grid-area: main-image; */
}


header {
    height: 40px;
    border-bottom: 1px solid #e2e2e2;
    grid-area: header;
    background-color: brown;
}
nav{
    margin: 0 auto;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 200px;
    height: 30px;
}

.header-div {
    display: flex;
    align-items: center;
}

.header-btn {
    border: none;
    background-color: inherit;
    margin-right: 12px;
}

#header-link {
    font-size: 14.25px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
    margin-left: 10px;  
}

.action-btn {
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    padding: 11px 12px 8px;
    border-radius: 3px;
    font-family: helvetica,arial,sans-serif;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    margin-right: 5px;
}

#header-btn-section {
    height: auto;
}

