body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 2em;
  border-bottom: 1px solid #e2e2e2;
  grid-area: header;
  color: white;
}

nav {
  margin: 0 auto;
  width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid gray;
  z-index: 3;
}

main {
  grid-area: main;
}

main h1 {
  display: inline-block;
  min-width: 110%;
  max-width: 120%;
  font-size: 2.5em;
  margin-bottom: 10px;
}

footer {
  grid-area: footer;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-between;
  margin-left: -17%;
  width: 84%;
}

footer > a {
  text-decoration: none;
  font-size: 10px;
  margin-right: 1px;
  margin-top: 10px;
  color: black;
}

.picture-section-title > a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
}

.unlock > a {
  display: block;
  text-decoration: none;
  color: rgb(50, 104, 145);
  margin-bottom: 10px;
}

main a:hover {
  text-decoration: none;
}

.picture-section a:hover {
  text-decoration: underline;
}

#pre-footer > section > a {
  display: block;
  text-decoration: none;
  font-size: 0.9em;
  color: black;
  margin-top: 8px;
  margin-right: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.bold-links{
  font-weight:700;
  text-align: center;
  /* display: flex; */
  /* align-items: baseline; */
}

#author-info p a {
  color: #333;
  text-decoration: none;
}

.center > p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.unlock p {
  margin-bottom: 2px;
  margin-top: 10px;
}

#author-info p {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.center > h2 {
  font-size: 1.2rem;
  font-weight: 700;
}

#most-pop-side > div > a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

#main-sidebar > div > a {
  text-decoration: none;
  color: black;
  align-self: center;
  width: 12em;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#footer-container a:hover {
  text-decoration: underline;
}

#footer-container {
  border-top: 2px solid gray;
  margin-top: 30px;
  margin-left: -80%;
  width: 270%;
}

figure {
  margin: 0;
}

figure > iframe {
  width: 100%;
  height: 25em;
}

figure > img {
  display: block;
  margin: 0 auto;
}

li {
  margin-right: 12px;
  list-style-type: none;
}

li i {
  font-size: 1.8em;
  color: gray;
}

.wrapper {
  display: grid;
  grid-template-columns: 10% 25% 30% 25% 10%;
  grid-template-rows: 50px auto auto;
  grid-template-areas: "header header header header header" ". . main aside ." "footer footer footer footer footer";
}

.header-div {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header-btn {
  border: none;
  background-color: inherit;
  margin-right: 16px;
}

.action-btn {
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  padding: 11px 12px 8px;
  border-radius: 3px;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 0.9;
  font-weight: 700;
  margin-right: 5px;
}

div.social-buttons button.action-btn {
  width: 30em;
}

.social-buttons {
  display: flex;
}

.description-p {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.small-p {
  font-size: 0.1em;
}

#small-p {
  font-size: 0.8rem;
}

.social-buttons ul {
  flex: 1;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
}

#header-logo {
  width: 17em;
  height: 35px;
}

#header-link {
  font-size: 1em;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

#header-btn-section {
  height: auto;
  margin-right: 10px;
}

#main-image {
  width: 200%;
  height: 680px;
  margin-left: -50%;
}

li > a > i:hover {
  color: lightcyan;
}

#main-image-description {
  max-width: 140%;
  margin-top: 10px;
  margin-left: -50%;
}

#author-info {
  flex: 1;
}

#desc-p {
  margin: 0 25%;
  font-size: 0.75rem;
}

#iframe {
  width: 100%;
  height: 800px;
  border: none;
  display: block;
  margin: 0 auto;
}

#figure-huge {
  margin-left: -30%;
  width: 160%;
}

#main-section-ul {
  margin-right: 0;
}

#space-image {
  margin-left: -10%;
  width: 120%;
}

#picture-section {
  display: flex;
  margin-left: -30%;
  width: 150%;
}

#picture-section > div {
  float: left;
}

.picture-section-picture {
  width: 95%;
  margin: 0 0;
}

.picture-section-p {
  text-align: right;
  font-size: 0.8rem;
  margin-right: 20px;
}

section article.picture-section-float {
  float: left;
  width: 33.33333%;
}

.picture-section-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.picture-section-date {
  display: block;
  margin-top: 10px;
  color: gray;
}

.clear {
  clear: left;
}

#row-1 {
  border-top: 2px solid black;
  margin-top: 20px;
}

#row-3 {
  border-top: 2px solid black;
  position: relative;
  top: 20px;
}

#most-pop-side {
  border-top: 2px solid black;
  margin-top: 20px;
  position: relative;
  left: 20px;
}

#picture-section a:hover {
  color: gray;
}

#most-pop-side > div {
  border-top: 2px solid gray;
  padding: 10px 0;
}

.footer-logo > img {
  width: 18em;
  border-top: 2px solid gray;
}

#pre-footer {
  margin-bottom: 20px;
  display: flex;
}

#pre-footer > section {
  margin-right: 8%;
  font-size:0.8em;
}

#footer-container > a > img {
  width: 12em;
  margin-top: 10px;
}

#subscribe-border {
  border-left: 1px solid gray;
  padding-left: 20px;
  padding-right: 20px;
}

#main-sidebar > div > img {
  width: 5em;
  padding-bottom: 15px;
}

#main-sidebar {
  display: flex;
  flex-direction: column;
  height: 500px;
  position: relative;
  top: 14%;
  left: 20%;
  grid-area: aside;
  margin-top: 250px;
  font-size: 14px;
  width: 40%;
}

.unlock {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.unlock > hr {
  width: 10%;
}

#main-sidebar > div > a:hover {
  text-decoration: underline;
}

#main-sidebar > div {
  display: flex;
  width: 200px;
}

#main-sidebar > h4 {
  display: block;
  padding-bottom: 3px;
  border-bottom: 1px solid gray;
  font-size: 18px;
}

h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 300;
}
